*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Farro', sans-serif;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    font-size: 40px;
    text-align: center;
    background-color:rgb(129, 46, 46);
}

.container {
    width: 700px;
    max-width: 80%;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 5px;
    border-color: rgb(4, 1, 43);
    box-shadow: 0 0 12px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #7c2424;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.btn:hover {
    background-color: #351616;
    box-shadow:black 0 0 10px 2px;
}
#petPlaceholder {
    height: 200px;
    width: 400px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }